<%= error_messages_for 'customer' %>

<!--[form:customer]-->
<p><label for="customer_first_name">First name</label><br/>
<%= text_field 'customer', 'first_name'  %></p>

<p><label for="customer_last_name">Last name</label><br/>
<%= text_field 'customer', 'last_name'  %></p>

<p><label for="customer_email">Email</label><br/>
<%= text_field 'customer', 'email'  %></p>
<!--[eoform:customer]-->

