<%= error_messages_for 'license' %>

<!--[form:license]-->
<p><label for="customer_id">Customer ID</label><br/>
<%= text_field 'license', 'customer_id' %></p>

<p><label for="product_id">Product ID</label><br/>
<%= text_field 'license', 'product_id' %></p>
<!--[eoform:license]-->

